.navbar-brand{
    color: rgb(114, 159, 170) !important;
}

.main-content{
    display: block;
    text-align: center;
}

.heading{
    color: rgb(114, 159, 170);
    font-family: 'Lobster', cursive;
    font-size: 10vh;
    font-size: 10vh;
}

.middle-center{
    margin-top: 20vh;
    display: block;
    text-align: center;
    /* margin-bottom: 40vh; */
}

.footer-nav{
    font-size: 1.5vh;
    text-align: center;
    color: rgb(196, 196, 196);
    padding: 1em;
    bottom: 0;
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

.card{
    justify-content: center;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
